<%= form_for(@audio_collection) do |f| %>
  <% if @audio_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio_collection.errors.count, "error") %> prohibited this audio_collection from being saved:</h2>

      <ul>
      <% @audio_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
