<h1>Listing audio_collections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Audio Stories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audio_collections.each do |audio_collection| %>
      <tr>
        <td><%= audio_collection.title %></td>
        <td><%= audio_collection.status %></td>
        <td>
          <ul>
          <% audio_collection.audio_stories.each do |audio_story| %>
            <li><%= link_to audio_story.title, audio_story_path(audio_story) %></li>
          <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', audio_collection %></td>
        <td><%= link_to 'Edit', edit_audio_collection_path(audio_collection) %></td>
        <td><%= link_to 'Destroy', audio_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audio collection', new_audio_collection_path %>
