<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @audio_collection.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @audio_collection.status %>
</p>

<%= link_to 'Edit', edit_audio_collection_path(@audio_collection) %> |
<%= link_to 'Back', audio_collections_path %>
