<div class="collections">
  <div class="module-nav">
    {{#link-to 'index'}}
      <i class="fa fa-chevron-left"></i> 
      <span>View All Collections</span>
    {{/link-to}}
  </div>
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">{{title}}</h3>
      <a href="#" class="pull-right">
        <i class="fa fa-edit"></i>
      </a>
      <hr>
      <dl class="collection-meta">
        <dt>Total Duration:</dt>
        <dd>46:50</dd>
      </dl>
      <dl class="collection-meta">
        <dt>Status:</dt>
        <dd>{{status}}</dd>
      </dl>
      <hr>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="play-all">
        <a href="#">
          <i class="fa fa-play"></i>
          <span class="player-title">
              <b>Play This Collection</b>
          </span>
        </a>
      </div>
      <table class="table table-condensed">
        <tbody><tr>
          <th>#</th>
          <th>Title</th>
          <th style="width: 40px">Duration</th>
        </tr>
        {{#each audio_story in audio_stories}}
          <tr>
            <td>1.</td>
            <td>{{audio_story.title}}</td>
            <td>{{format-duration-seconds audio_story.duration}}</td>
          </tr>
        {{/each}}
      </tbody></table>
    </div><!-- /.box-body -->
  </div>
</div>

{{view 'audio_stories' }}